<div class="container__small-card">

  <div class="container__small-card-content">

    <div class="small-card__photo">
      <img
      src="https://media.seudinheiro.com/cdn-cgi/image/fit=contain,width=715&,format=auto/uploads/2023/02/Guardians-of-the-Galaxy-Vol.-3-715x402.jpg"
      alt=""
      srcset=""
       >
    </div>


    <div class="small-card__title">
    <h1><a href="#">Saiu o novo filme dos Guardiões da Galaxia.<br>Clique e veja a notícia!</a></h1>
   </div>
   </div>



   <div class="container__small-card__separator">
    <hr>
   </div>
</div>
